{% extends '@!EasyAdmin/layout.html.twig' %}

{% block responsive_header_logo %}
    <a class="responsive-logo" title="{{ ea.dashboardTitle|striptags }}" href="{{ path('app_home') }}">
        {{ ea.dashboardTitle|raw }}
    </a>
{% endblock responsive_header_logo %}

{% block header_logo %}
    <a class="logo" title="{{ ea.dashboardTitle|striptags }}" href="{{ path('app_home') }}">
        <span class="logo-custom">{{ ea.dashboardTitle|raw }}</span>
        <span class="logo-compact"><twig:ea:Icon name="internal:home" /></span>
    </a>
{% endblock header_logo %}

