<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    {# scripts d'integration de vite/react dans base twig #}
    {% set vite_url = app.request.server.get('VITE_SERVER_URL') ?? 'http://localhost:5173' %}
    <script type="module">
        import RefreshRuntime from '{{ vite_url }}/@react-refresh'
        RefreshRuntime.injectIntoGlobalHook(window)
        window.$RefreshReg$ = () => {}
        window.$RefreshSig$ = () => (type) => type
        window.__vite_plugin_react_preamble_installed__ = true
    </script>
    <script type="module" src="{{ vite_url }}/@vite/client"></script>
    <script type="module" src="{{ vite_url }}/main.jsx"></script>

    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
    {% endblock %}
</head>

<body>
{% if app.user %}
    <div>
        <span>Connecté: {{ app.user.userIdentifier }}</span>
        <form method="post" action="{{ path('app_logout') }}">
            <button type="submit">Déconnexion</button>
        </form>
    </div>
{% else %}
    <div>
        <a href="{{ path('app_login') }}">Connexion</a>
        <a href="{{ path('app_register') }}">Inscription</a>
    </div>
{% endif %}
{# injectez vos components ou vous voullez (celui-ci est pour le test)
    le prochain se trouve dans home
#}
<div id="app"></div>
{% block body %}{% endblock %}
</body>

</html>
